In [1]:
import pandas as pd

In [3]:
f500 = pd.read_csv("f500.csv", index_col = 0)

In [4]:
f500.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [5]:
f500.shape

(500, 16)

In [6]:
type(f500)

pandas.core.frame.DataFrame

In [7]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [ ]:
# commit, rollback

In [8]:
f500.dtypes

rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [9]:
# axes

In [10]:
f500.head(2)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

In [12]:
f500.index.name

'company'

In [13]:
f500.index.name = None

In [16]:
f500.index.name

In [17]:
print(f500.index.name)

None

In [18]:
f500["ceo"]

Walmart                           C. Douglas McMillon
State Grid                                    Kou Wei
Sinopec Group                               Wang Yupu
China National Petroleum                Zhang Jianhua
Toyota Motor                              Akio Toyoda
                                         ...
Teva Pharmaceutical Industries      Yitzhak Peterburg
New China Life Insurance                     Wan Feng
Wm. Morrison Supermarkets              David T. Potts
TUI                                 Friedrich Joussen
AutoNation                         Michael J. Jackson
Name: ceo, Length: 500, dtype: object

In [19]:
f500["ceo"].ndim

1

In [20]:
type(f500["ceo"]) # 1darray, list

pandas.core.series.Series

In [21]:
f500[["rank", "industry"]]

                                rank                         industry
Walmart                            1            General Merchandisers
State Grid                         2                        Utilities
Sinopec Group                      3               Petroleum Refining
China National Petroleum           4               Petroleum Refining
Toyota Motor                       5         Motor Vehicles and Parts
...                              ...                              ...
Teva Pharmaceutical Industries   496                  Pharmaceuticals
New China Life Insurance         497  Insurance: Life, Health (stock)
Wm. Morrison Supermarkets        498             Food and Drug Stores
TUI                              499                  Travel Services
AutoNation                       500              Specialty Retailers

[500 rows x 2 columns]

In [23]:
f500.industry

Walmart                                     General Merchandisers
State Grid                                              Utilities
Sinopec Group                                  Petroleum Refining
China National Petroleum                       Petroleum Refining
Toyota Motor                             Motor Vehicles and Parts
                                               ...
Teva Pharmaceutical Industries                    Pharmaceuticals
New China Life Insurance          Insurance: Life, Health (stock)
Wm. Morrison Supermarkets                    Food and Drug Stores
TUI                                               Travel Services
AutoNation                                    Specialty Retailers
Name: industry, Length: 500, dtype: object

In [24]:
f500.iloc[1]

rank                                             2
revenues                                    315199
revenue_change                                -4.4
profits                                     9571.3
assets                                      489838
profit_change                                 -6.2
ceo                                        Kou Wei
industry                                 Utilities
sector                                      Energy
previous_rank                                    2
country                                      China
hq_location                         Beijing, China
website                     http://www.sgcc.com.cn
years_on_global_500_list                        17
employees                                   926067
total_stockholder_equity                    209456
Name: State Grid, dtype: object

In [25]:
f500.loc["State Grid"]

rank                                             2
revenues                                    315199
revenue_change                                -4.4
profits                                     9571.3
assets                                      489838
profit_change                                 -6.2
ceo                                        Kou Wei
industry                                 Utilities
sector                                      Energy
previous_rank                                    2
country                                      China
hq_location                         Beijing, China
website                     http://www.sgcc.com.cn
years_on_global_500_list                        17
employees                                   926067
total_stockholder_equity                    209456
Name: State Grid, dtype: object

In [27]:
f500.loc[["Walmart", "Toyota Motor"]]

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [28]:
f500.iloc[[0, 4]]

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [29]:
f500.loc[["Walmart", "Toyota Motor"],["ceo", "industry"]]

                              ceo                  industry
Walmart       C. Douglas McMillon     General Merchandisers
Toyota Motor          Akio Toyoda  Motor Vehicles and Parts

In [32]:
f500.iloc[[0, 4],[6, 7]]

                              ceo                  industry
Walmart       C. Douglas McMillon     General Merchandisers
Toyota Motor          Akio Toyoda  Motor Vehicles and Parts

In [33]:
# regular expression

In [37]:
# bol = f500["industry"].str.lower().str.contains(r"mo")

In [38]:
# f500[bol]

In [44]:
# f500.loc[:,"assets": "sector"]
f500.iloc[:,4: 8]
# f500["assets": "sector"]

,assets,profit_change,ceo,industry
Walmart,198825,-7.2,C. Douglas McMillon,General Merchandisers
State Grid,489838,-6.2,Kou Wei,Utilities
Sinopec Group,310726,-65.0,Wang Yupu,Petroleum Refining
China National Petroleum,585619,-73.7,Zhang Jianhua,Petroleum Refining
Toyota Motor,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts
...,...,...,...,...
Teva Pharmaceutical Industries,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals
New China Life Insurance,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)"
Wm. Morrison Supermarkets,11630,20.4,David T. Potts,Food and Drug Stores
TUI,16247,195.5,Friedrich Joussen,Travel Services
AutoNation,10060,-2.7,Michael J. Jackson,Specialty Retailers

In [39]:
f500["Teva Pharmaceutical Industries": "TUI"] #

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006

In [45]:
f500.head(15)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
CVS Health,14,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376

In [46]:
f500.loc[["Toyota Motor", "Apple", "BP"],["website","rank"]]

                                   website  rank
Toyota Motor  http://www.toyota-global.com     5
Apple                 http://www.apple.com     9
BP                       http://www.bp.com    12

In [47]:
f500["country"]

Walmart                               USA
State Grid                          China
Sinopec Group                       China
China National Petroleum            China
Toyota Motor                        Japan
                                   ...
Teva Pharmaceutical Industries     Israel
New China Life Insurance            China
Wm. Morrison Supermarkets         Britain
TUI                               Germany
AutoNation                            USA
Name: country, Length: 500, dtype: object

In [49]:
for i in f500["country"]:
    print(i)

USA
China
China
China
Japan
Germany
Netherlands
USA
USA
USA
USA
Britain
USA
USA
South Korea
Switzerland
Germany
USA
USA
Netherlands
USA
China
USA
China
France
USA
Taiwan
China
Japan
France
USA
USA
Japan
Germany
USA
USA
USA
China
China
USA
China
China
France
Japan
USA
USA
China
USA
Britain
Japan
China
Germany
USA
Singapore
China
Britain
Italy
China
USA
USA
USA
USA
Russia
Switzerland
USA
Germany
France
China
USA
USA
Japan
Japan
Spain
USA
Brazil
Germany
Germany
South Korea
USA
France
USA
France
China
Italy
USA
China
Japan
Britain
China
Britain
Germany
Britain
France
Netherlands
South Korea
USA
USA
USA
USA
China
China
Russia
China
France
Japan
USA
USA
France
Germany
Japan
Japan
Switzerland
Brazil
China
China
Japan
Germany
USA
China
China
Britain
USA
Germany
USA
China
Germany
Japan
USA
China
USA
USA
Italy
China
USA
China
China
China
USA
China
France
USA
Japan
China
USA
Japan
France
Netherlands
USA
Britain
Britain
Brazil
Mexico
Spain
Brazil
USA
Luxembourg
France
Russia
China
USA
USA
China
Netherlands
Japan
Netherlands
USA
Japan
India
Switzerland
China
China
China
USA
Germany
USA
Mexico
South Korea
USA
USA
USA
USA
Netherlands
China
Malaysia
Japan
Switzerland
USA
Japan
Germany
China
Brazil
Thailand
Japan
USA
Germany
USA
France
Australia
China
France
South Korea
Japan
India
China
China
Belgium
Norway
South Korea
South Korea
France
China
Germany
Germany
USA
Japan
China
India
Australia
Japan
Switzerland
China
China
Spain
Germany
France
China
France
Japan
USA
China
Germany
Russia
China
France
USA
Japan
Japan
China
Singapore
France
China
Japan
USA
USA
China
South Korea
India
China
Japan
Canada
China
China
USA
USA
USA
USA
USA
USA
China
USA
China
Japan
Germany
USA
USA
Canada
USA
China
Britain
USA
USA
Ireland
Britain
China
USA
China
China
USA
China
USA
Spain
Japan
USA
Britain
Italy
Britain
USA
USA
Indonesia
Canada
Switzerland
Italy
Canada
Japan
India
Taiwan
Japan
Denmark
Saudi Arabia
France
Sweden
Germany
Germany
Canada
Ireland
Spain
China
USA
Germany
Britain
Canada
China
South Korea
Switzerland
USA
Britain
France
China
China
China
USA
China
South Korea
Japan
USA
China
Germany
Italy
China
Japan
USA
Spain
Australia
China
Germany
China
China
China
China
Japan
China
Switzerland
China
USA
USA
Britain
Japan
China
Japan
Australia
Canada
Japan
Japan
Switzerland
China
Japan
Japan
USA
USA
India
USA
China
Ireland
China
China
China
Japan
China
Taiwan
Brazil
USA
China
Japan
Netherlands
Netherlands
USA
Ireland
USA
France
China
Japan
China
China
India
Switzerland
France
Britain
USA
Japan
Taiwan
Australia
Switzerland
USA
USA
USA
USA
China
Switzerland
France
China
USA
USA
Germany
France
Australia
USA
USA
Japan
Netherlands
USA
Taiwan
USA
South Korea
USA
Finland
Canada
Spain
Australia
Sweden
Japan
USA
Britain
Japan
Canada
USA
Spain
France
Spain
USA
China
South Korea
Britain
China
Switzerland
Britain
USA
Japan
USA
China
USA
Canada
Venezuela
Germany
USA
China
France
South Korea
China
USA
China
Japan
Britain
USA
China
Singapore
USA
Germany
Taiwan
China
USA
Japan
China
Turkey
USA
USA
France
China
Netherlands
USA
Britain
USA
Netherlands
Netherlands
Canada
USA
China
Netherlands
China
South Korea
U.A.E
USA
Sweden
USA
France
China
South Korea
Brazil
China
USA
China
Britain
USA
Italy
China
China
Israel
China
Britain
Germany
USA

In [50]:
d = {}
for country in f500["country"]:
    if country not in d:
        d[country] = 1
    else:
        d[country] += 1

In [51]:
print(d)

{'USA': 132, 'China': 109, 'Japan': 51, 'Germany': 29, 'Netherlands': 14, 'Britain': 24, 'South Korea': 15, 'Switzerland': 14, 'France': 29, 'Taiwan': 6, 'Singapore': 3, 'Italy': 7, 'Russia': 4, 'Spain': 9, 'Brazil': 7, 'Mexico': 2, 'Luxembourg': 1, 'India': 7, 'Malaysia': 1, 'Thailand': 1, 'Australia': 7, 'Belgium': 1, 'Norway': 1, 'Canada': 11, 'Ireland': 4, 'Indonesia': 1, 'Denmark': 1, 'Saudi Arabia': 1, 'Sweden': 3, 'Finland': 1, 'Venezuela': 1, 'Turkey': 1, 'U.A.E': 1, 'Israel': 1}

In [57]:
# pd.Series(d).sort_values(ascending = False)

In [53]:
f500["country"].value_counts() # why should we reinvent the wheel
# Frequeny Distribution Table

USA             132
China           109
Japan            51
Germany          29
France           29
Britain          24
South Korea      15
Netherlands      14
Switzerland      14
Canada           11
Spain             9
Australia         7
Brazil            7
India             7
Italy             7
Taiwan            6
Russia            4
Ireland           4
Singapore         3
Sweden            3
Mexico            2
Malaysia          1
Thailand          1
Belgium           1
Norway            1
Luxembourg        1
Indonesia         1
Denmark           1
Saudi Arabia      1
Finland           1
Venezuela         1
Turkey            1
U.A.E             1
Israel            1
Name: country, dtype: int64

In [58]:
f500["country"].shape

(500,)

In [60]:
# f500["country"].to_dict()

In [61]:
f500.head(20)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
CVS Health,14,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
Glencore,16,173883,2.0,1379.0,124600,NaN,Ivan Glasenberg,"Mining, Crude-Oil Production",Energy,14,Switzerland,"Baar, Switzerland",http://www.glencore.com,7,93123,44243
Daimler,17,169483,2.2,9428.4,256262,0.9,Dieter Zetsche,Motor Vehicles and Parts,Motor Vehicles & Parts,16,Germany,"Stuttgart, Germany",http://www.daimler.com,23,282488,61116
General Motors,18,166380,9.2,9427.0,221690,-2.7,Mary T. Barra,Motor Vehicles and Parts,Motor Vehicles & Parts,20,USA,"Detroit, MI",http://www.gm.com,23,225000,43836
AT&T,19,163786,11.6,12976.0,403821,-2.8,Randall L. Stephenson,Telecommunications,Telecommunications,23,USA,"Dallas, TX",http://www.att.com,23,268540,123135
EXOR Group,20,154894,1.5,651.3,186172,-21.1,John Elkann,Diversified Financials,Financials,19,Netherlands,"Amsterdam, Netherlands",http://www.exor.com,7,302562,11582

In [62]:
# rev - cost = profit

# rev - prof = cos

In [63]:
f500.columns

Index(['rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [65]:
costs = f500["revenues"] - f500["profits"]

In [66]:
costs

Walmart                           472230.0
State Grid                        305627.7
Sinopec Group                     266260.1
China National Petroleum          260705.5
Toyota Motor                      237794.7
                                    ...
Teva Pharmaceutical Industries     21574.0
New China Life Insurance           21052.1
Wm. Morrison Supermarkets          21334.6
TUI                                20503.3
AutoNation                         21178.5
Length: 500, dtype: float64

In [68]:
f500["costs"] = costs

In [69]:
f500

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,costs
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798,472230.0
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,305627.7
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,266260.1
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,260705.5
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,237794.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337,21574.0
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507,21052.1
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111,21334.6
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006,20503.3
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310,21178.5

In [70]:
# del f500["costs"]

# f500 = f500.drop("costs", axis = 1)

f500.drop("costs", axis = 1, inplace = True)

In [72]:
f500.columns

Index(['rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [73]:
dir(f500)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assets',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'ceo',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'country',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'employees',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'hq_location',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'industry',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'previous_rank',
 'prod',
 'product',
 'profit_change',
 'profits',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'revenue_change',
 'revenues',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'sector',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'total_stockholder_equity',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'website',
 'where',
 'xs',
 'years_on_global_500_list']

In [74]:
f500.insert(3,"costs",costs)

In [75]:
f500

,rank,revenues,revenue_change,costs,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,472230.0,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,305627.7,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,266260.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,260705.5,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,237794.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Teva Pharmaceutical Industries,496,21903,11.5,21574.0,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,21052.1,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,21334.6,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,20503.3,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,21178.5,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

There is nothing free in the market. If something is free then you are product

In [76]:
f500.describe()

,rank,revenues,revenue_change,costs,profits,assets,profit_change,previous_rank,years_on_global_500_list,employees,total_stockholder_equity
count,500.000000,500.000000,498.000000,499.000000,499.000000,5.000000e+02,436.000000,500.000000,500.000000,5.000000e+02,500.000000
mean,250.500000,55416.358000,4.538353,52424.528257,3055.203206,2.436323e+05,24.152752,222.134000,15.036000,1.339983e+05,30628.076000
std,144.481833,45725.478963,28.549067,43762.033448,5171.981071,4.851937e+05,437.509566,146.941961,7.932752,1.700878e+05,43642.576833
min,1.000000,21609.000000,-67.300000,11885.400000,-13038.000000,3.717000e+03,-793.700000,0.000000,1.000000,3.280000e+02,-59909.000000
25%,125.750000,29003.000000,-5.900000,27125.650000,556.950000,3.658850e+04,-22.775000,92.750000,7.000000,4.293250e+04,7553.750000
50%,250.500000,40236.000000,0.550000,38175.000000,1761.600000,7.326150e+04,-0.350000,219.500000,17.000000,9.291050e+04,15809.500000
75%,375.250000,63926.750000,6.975000,62037.850000,3954.000000,1.805640e+05,17.700000,347.250000,23.000000,1.689172e+05,37828.500000
max,500.000000,485873.000000,442.300000,472230.000000,45687.000000,3.473238e+06,8909.500000,500.000000,23.000000,2.300000e+06,301893.000000

In [77]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   costs                     499 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(4), int64(7), object(6)
memory usage: 86.5+ KB

In [79]:
# f500.describe(include = "all")

In [80]:
f500.describe(include = "O")

,ceo,industry,sector,country,hq_location,website
count,500,500,500,500,500,500
unique,500,58,21,34,235,500
top,C. Douglas McMillon,Banks: Commercial and Savings,Financials,USA,"Beijing, China",http://www.walmart.com
freq,1,51,118,132,56,1

In [81]:
f500["ceo"].describe()

count                     500
unique                    500
top       C. Douglas McMillon
freq                        1
Name: ceo, dtype: object

In [82]:
f500["sector"].describe()

count            500
unique            21
top       Financials
freq             118
Name: sector, dtype: object

In [83]:
s = f500["country"].value_counts()

In [84]:
s.to_csv("Series.csv")

In [85]:
f500.describe(include = "all")

,rank,revenues,revenue_change,costs,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
count,500.000000,500.000000,498.000000,499.000000,499.000000,5.000000e+02,436.000000,500,500,500,500.000000,500,500,500,500.000000,5.000000e+02,500.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,58,21,NaN,34,235,500,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C. Douglas McMillon,Banks: Commercial and Savings,Financials,NaN,USA,"Beijing, China",http://www.walmart.com,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,51,118,NaN,132,56,1,NaN,NaN,NaN
mean,250.500000,55416.358000,4.538353,52424.528257,3055.203206,2.436323e+05,24.152752,NaN,NaN,NaN,222.134000,NaN,NaN,NaN,15.036000,1.339983e+05,30628.076000
std,144.481833,45725.478963,28.549067,43762.033448,5171.981071,4.851937e+05,437.509566,NaN,NaN,NaN,146.941961,NaN,NaN,NaN,7.932752,1.700878e+05,43642.576833
min,1.000000,21609.000000,-67.300000,11885.400000,-13038.000000,3.717000e+03,-793.700000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,1.000000,3.280000e+02,-59909.000000
25%,125.750000,29003.000000,-5.900000,27125.650000,556.950000,3.658850e+04,-22.775000,NaN,NaN,NaN,92.750000,NaN,NaN,NaN,7.000000,4.293250e+04,7553.750000
50%,250.500000,40236.000000,0.550000,38175.000000,1761.600000,7.326150e+04,-0.350000,NaN,NaN,NaN,219.500000,NaN,NaN,NaN,17.000000,9.291050e+04,15809.500000
75%,375.250000,63926.750000,6.975000,62037.850000,3954.000000,1.805640e+05,17.700000,NaN,NaN,NaN,347.250000,NaN,NaN,NaN,23.000000,1.689172e+05,37828.500000
max,500.000000,485873.000000,442.300000,472230.000000,45687.000000,3.473238e+06,8909.500000,NaN,NaN,NaN,500.000000,NaN,NaN,NaN,23.000000,2.300000e+06,301893.000000